
img{
    height:100px;
}

*
{
    color: white;
    font-family: sans-serif;
    background-color: rgb(26, 26, 26);
}

.header
{
    display: flex;
    flex-direction: right;
    float: right;
    font-size: 20px; 
}
img
{
    height: 150px;
    width: 500px;
    margin-left: 100px;
    margin-top: 140px;
    margin-bottom: 50px;
    
}
.header a
{
    display: flex;
    flex-direction: row;
    padding: 20px;
    color:white;
}

a:link {
    text-decoration: none;
    color: blue
  }
  
a:visited {
    text-decoration: none;
    
  }
  
a:hover {
    text-decoration: underline;
    
  }
  
a:active {
    text-decoration: none;
     
  }
.header3 a
{
    color: rgb(43, 116, 252);
    padding-left: 10px;
}
.header3 a:hover {
    text-decoration: underline;
    
  }
.header3
{
    padding-left: 40px;
    display: flex;
    flex-direction: row;
    color: white;
}
.footer
{
   
    font-size: 20px; 
    padding:30px;
}
.footer a
{
    color: rgb(90, 89, 89);
    font-size: 20px; 
    padding: left 2px;
    padding-right: 50px;
    margin-left: 40px;
    
}
.footer a:hover 
{
    text-decoration: underline;
}
.footer2 a:hover 
{
    text-decoration: underline;
}
.footer2 a
{
    color: rgb(90, 89, 89);
    font-size: 20px; 
    padding-left: 150px;

    padding-bottom: 40px;
}

input[type=button]
{
    color: white;
    font-size: 20px;
    margin-top: 60px;
    margin-left: 50px;
    margin-bottom: 80px;
    height: 50px;
    width: 200px;
    border-style: none;
    padding-left: 30px;
    padding-right: 120px; 
}
input[type=button]:hover
{
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgb(58, 58, 58);
    border-radius: 10px; 
}

.border
{
    box-sizing: border-box;
    width: 650px;
    height: 40px;
    border-radius: 20px 20px 20px 20px;
    border: 1px solid slategray;
    padding-left: 20px;
    padding-top: 4px;
    border-bottom: 1px solid;  
    
}
.border:hover
{
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgb(134, 134, 134);
}

.header2
{
    padding-left: 100px;
    
}
input[type=search]
{
    color: black;
    width: 500px;
    height: 30px;
    padding-left: 20px;
    outline: none;
    border: none;
    
    
}


    .footer a
    {
        
        padding-left: 10px;
        padding-right: 10px;
    }
@media screen and  (min-width:900px) {

    .footer2
    {
    
       float: right;
       
       padding-right: 20px;
    
    }
}

#mike{
    padding-left: 60px;
}